html,
body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.banner {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 150px;
    font-weight: 800;
    line-height: 200px;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.Content {
    max-width: 80%;
    margin: 0 auto;
    padding: 75px 0;
    align-items: center;
    text-align: center;
}

.ContentShop {
    max-width: 80%;
    margin: 0 auto;
    padding: 75px 0;
    align-items: center;
}

p {
    margin: 75px 0;
    font-family: Open Sans;
}

.ParallaxContainer {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./Imgs/coffeebanner.jpg");
    background-size: cover;
    background-position: center;
    transform: translateZ(-1px) scale(2);
    z-index: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul li a {
    letter-spacing: -5px;
    font-family: Open Sans;
    padding: 14px 16px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(111, 78, 55);
    font-size: 50px;
}

ul li a:hover {
    color: rgb(175, 125, 89);
}

.navbar {
    text-align: center;
    padding-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 24px;
    max-width: 320px;
    background-color: rgb(253, 253, 253);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 1px 1px;
    width: 300px;
    height: 550px;
}

.cardrecipe {
    display: flex;
    justify-content: flex-start; 
    padding: 12px;
    border-radius: 24px;
    background-color: rgb(253, 253, 253);
    margin: 20px 0; 
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 1px 1px;
    width: 80%;
    height: 300px;
    gap: 20px; 
    box-sizing: border-box;
}

.brownMain {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    letter-spacing: -10px;
    font-family: Open Sans;
    padding: 14px 16px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(111, 78, 55);
    font-size: 100px;
}

.brownShop {
    margin: 0 auto;
    max-width: 800px;
    letter-spacing: -10px;
    font-family: Open Sans;
    font-weight: 800;
    color: rgb(111, 78, 55);
    font-size: 100px;
    text-align: left;
}

.Mainp {
    display: block;
    margin: 40px auto 0;
    max-width: 800px;
    font-family: Open Sans;
    text-align: left;
}

.barrista {
    max-width: 80%;
    border-radius: 10px;
    margin-top: 50px;
    padding: center;
}

.footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 20px 20px;
    background-color: rgb(111, 78, 55);

}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-col.right {
    align-items: flex-end;
    text-align: right;
}

.footer-heading {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: white;
}

.footer-col a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0.85;
}

.footer-col a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-info {
    font-size: 15px;
    color: #f2e9e4;
    margin-top: 15px;
}

.footercontainer .social {
    margin-bottom: 10px;
}

.footercontainer .social a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 8px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: lightgray;
    margin-top: 20px;
}

.shoppicture {
    width: 100%;
    border-radius: 5px;
}
.recipepicture {
    width: 50%;
    width: 20%;
    border-radius: 5px;
}

button {
    background-color: rgb(111, 78, 55);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
    font-family: Open Sans;
    align-items: center;
}

.browntitlesmall {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 0;
    letter-spacing: -2px;
    font-family: Open Sans;
    padding: 0px 0px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(111, 78, 55);
    font-size: 30px;
    text-align: start;
}

.shopcontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.card-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    margin-top: auto;               
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');